//
   Created by pl on 8/28/15.
extends layout
block title
   title League of Legends coding challenge
block content
   .container
      each num, key in champion
         h1= key.split('_').join(' ')
         h3= num
