//
   Created by pl on 8/28/15.

doctype html
html
   head(lang='en')
      meta(charset='utf8')
      title League of Legends coding challenge
      script(src='bower_components/jquery/dist/jquery.min.js')
      script(src='bower_components/bootstrap/dist/css/bootstrap.min.css')
      script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
      link(href='bower_components/bootstrap-material-design/material-fullpalette.min.css' type='stylesheet')
      link(href='bower_components/font-awesome/css/font-awesome/min.css' type='stylesheet')
      //user scripts and css
      script(src='dist/API.js')
      link(href='dist/main.min.css')
   body
      h1 SUP