//
   Created by pl on 8/28/15.

extends ./layout.jade
block title
   title League of Legends coding challenge
block content
   .container
      .col-md-4.col-md-offset-4
         .btn-group(style='width: 100%;')
            button.btn.btn-primary.dropdown-toggle(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' style='width:100%;') Graphs
               span.caret
            ul.dropdown-menu#links
         h3#graphTitle.text-center
      svg#visualisation.center-block(width="1000" height="500")
      a#high(href='#') High
      span  |
      a#low(href='#')  Low