//
   Created by pl on 8/28/15.

doctype html
html
   head(lang='en')
      meta(charset='utf8')
      link(href='bower_components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet' type='text/css')
      link(href='bower_components/bootstrap-material-design/dist/css/material-fullpalette.min.css' rel='stylesheet' type='text/css')
      link(href='bower_components/bootstrap-material-design/dist/css/ripples.min.css' rel='stylesheet' type='text/css')
      link(href='bower_components/font-awesome/css/font-awesome.min.css' rel='stylesheet' type='text/css')
      link(href='dist/main.min.css' rel='stylesheet' type='text/css')
      block title
   body
      script(src='bower_components/jquery/dist/jquery.min.js')
      script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
      script(src='bower_components/bootstrap-material-design/dist/js/ripples.min.js')
      script(src='bower_components/bootstrap-material-design/dist/js/material.min.js')
      script(src='dist/API.js')
      .navbar.navbar-default
         .container-fluid
            .navbar-header
               button.navbar-toggle.collapsed(data-toggle='collapse' data-target='#mainNavBar' aria-expanded='false')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
               a.navbar-brand(href='#') LOL Navbar
            .collapse.navbar-collapse#mainNavBar
               ul.nav.navbar-nav
                  li: a(href='/') Home
                  li: a(href='/champions') Champions
                  li: a(href='/firsts') Firsts
                  li: a(href='/teams') Teams
                  li: a(href='/topten') Top Ten
      block content