body {
  background-size: cover;
  background-attachment: fixed;
  color: white;
}
body a {
  color: whitesmoke;
}
.champHeadWrapper {
  padding: 5px;
}
.champHead > img {
  margin: 0 auto;
}
.champlist > li {
  list-style: none;
  font-size: 18px;
}
.table {
  background-color: darkslategray;
}
.table-hover tr:hover {
  background: #001100!important;
}
